.App {
  
  font-family: open sans;
  background-color: rgb(187, 187, 187);
}

html {

  background-color: blue;
}
.nav{
  
  font-size: large;
  position: sticky; 
  top: 0; 
  color: #3b81cd; 
  text-align: center; 
  display: block; 
  justify-content: center;
  align-items: center;
  background-color: #fff;
  margin-top: 0%;
  padding-top: 20px;  
  padding-bottom: 20px;
  margin-bottom: 40px;
  
}

.nav span {
  font-size: 4rem; 

}
.nav span .str{

  font-size: 4rem;
  color: #002951;
  font-family: 'Gothic A1', sans-serif;
}

.nav span:hover {
animation: glow .5s forwards ;
 
}
