.App .lds-dual-ring {
  display: inline-block;
  width: 80px;
  height: 80px;
  margin-left:48%; 

}
.App .lds-dual-ring:after {
  content: " ";
  margin-left:30%; 
  display: block;
  width: 64px;
  height: 64px;
  margin: 8px;
  border-radius: 50%;
  border: 6px solid #002951;
  border-color: #002951 transparent #002951 transparent;
  animation: lds-dual-ring 1.2s linear infinite;

}
@keyframes lds-dual-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
