.App {

  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  
}

.nav{
  
  font-size: large;
  position: sticky; 
  top: 0; 
  color: white; 
  text-align: center; 
 display: block; 
  justify-content: center;
  align-items: center;
  background-color: #173e72;
  margin-top: 0%;
  padding-top: 20px;  
  padding-bottom: 20px;
  margin-bottom: 40px;

 
  
  

}

.nav span .str{

  font-size: 35px;
}

.nav span:hover {
animation: glow .5s forwards ;
 
}

@keyframes glow {
   from{
    text-shadow: 0 0 0px #fff;
    color: #ffffff;
    }
  to{
    text-shadow: 0 0 10px #fff, 0 0 20px #F5E6FF, 0 0 30px #ff0000;
    color:#ffffff;
  
    }
}

